@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');

:root{
    --celeste: rgba(0, 119, 255,1);
    --gris: rgb(34, 34, 34);
}

body{
    margin: 0%;
    background-color: rgb(34, 34, 34);
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Lato';
    margin: 0%;
    color: white;
    padding: 20px 0px;
    background-color: black;
    align-items: center;
    box-shadow: 0px 0px 25px 0px rgba(0,119, 255, 0.5);
}

.logo h1{
    margin-left: 24px;
    font-size: 2rem;
  
}

b{
    position: relative;
    font-size: 1.25rem;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 119, 255,0.5);
    padding: 16px 0px;
    margin-left: 20px;
    font-family: system-ui, -apple-system,sans-serif;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
    font-weight: 400;
    transition: .3s ease-in-out;
}

b a{
    text-decoration: none;
    color: white;
    padding: 16px;
    transition: .3s ease-in-out;
}
b:hover {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
    color: var(--celeste);
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

.right{
    display: flex;
    align-items: center;
}

.right div a i{
    font-size: 2rem;
    filter:drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.75));
}

.right div a{
    text-decoration: none;
    color: white;
    margin: 0px 16px;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

h1 {
    font-family: 'Montserrat';
    color:rgb(255, 255, 255);
    font-size: 3.5rem;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0% auto;
}
img{
    width: 700px;
}

section a {
    padding: 24px;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    border: 1px solid var(--celeste);
    text-decoration: none;
    border-radius: 5px;
    margin: 50px 0%;
    transition: .3s ease-in-out;
}

a:hover {
    background-color: var(--celeste);
}
